/* ///////////////// Global Changes ///////////////// */

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Bungee Shade', cursive;
}

html {
    text-rendering: optimizeLegibility;
}

img {
    vertical-align: middle;
}

a, button {
    text-decoration: none;
    outline: medium none;
}

a, .button {
    transition: .3s;
}

body {
    overflow: visible;
}

p {
    line-height: 30px;
    font-size: 18px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.skills-col li + li {
    margin-top: 5px;
}

/* ///////////////// Navbar ///////////////// */

.navbar-brand {
    padding: 0 !important;
    font-size: 32px;
}

.border-btn {
    border: 2px solid #fff;
    color: #212529;
    background: #fff;
    border-radius: 30px;
    text-transform: capitalize;
    padding: 10px 30px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    margin: 0;
}

/* ///////////////// Title Card ///////////////// */

#title-avatar-name {
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(./banner.png);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#avatar-outer {
    padding: 5px;
    background-color: #FFFFFF;
    height: 360px !important;
    width: 360px !important;
    margin-left: auto;
    margin-right: auto;
}

#avatar-inner {
    padding: 10px;
    background-color: #003300;
    height: 350px !important;
    width: 350px !important;
}

#avatar {
    width: 330px;
    height: 330px;
}

@media (max-width: 991px) {
    #avatar-outer {
        padding: 5px;
        background-color: #FFFFFF;
        height: 260px !important;
        width: 260px !important;
    }

    #avatar-inner {
        padding: 10px;
        background-color: #003300;
        height: 250px !important;
        width: 250px !important;
    }

    #avatar {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 575px) {
    #text-info {
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
    }
}

@media (max-width: 447px) {
    #tagline {
        font-size: 20px;
    }
}

#title-contact {
    position: absolute;
    bottom: 941px;
    left: 0;
    right: 0;
}

@media (max-width: 1399.98px) {
    #title-contact {
        bottom: 974px;
    }
}

@media (max-width: 991.98px) {
    #title-contact {
        bottom: 1014px;
    }
}

@media (max-width: 767.98px) {
    #title-contact {
        bottom: 1734px;
    }
}

@media (min-width: 575.98px) and (max-width: 1199.98px) {
    .flex {
        flex: 1;
    }
}

.icon {
    padding: 0px 7px 3px 7px;
    margin-right: 1rem;
}

/* ///////////////// Main Content ///////////////// */

#main-content {
    margin-top: -50px;
	padding-bottom: 110px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #main-content {
        padding-bottom: 70px;
    }
}

@media (max-width: 767px) {
    #main-content {
        padding-bottom: 60px;
    }
}

#box {
	background-color: #FFFFFF;
	border-radius: 12px;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.is-centered {
	-webkit-box-pack: center;
	justify-content: center;
}

.fedev-col,
.des-col {
    padding: 70px 45px;
}

@media (min-width: 768px) {
    .des-col {
        border-left: 1px solid #E6ECF8;
    }
}

@media (max-width: 767px) {
    .des-col {
        border-top: 1px solid #E6ECF8;
    }
}

.image-box {
    display: block;
    position: relative;
    margin: 0 auto 2em;
}

.image-box i {
    color: #A77D61;
    font-size: 48px;
}

.col-title {
    margin-top: 1em;
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.col-para {
    margin-bottom: 2em;
}

.col-title-sub {
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #a77d61;
}

.col-list {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
}

/* ///////////////// Scrollspy Button ///////////////// */

#back-top {
	background: #765137;
	height: 50px;
	width: 50px;
	right: 31px;
	bottom: 18px;
	position: fixed;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 44px;
	border: 2px solid transparent;
	box-shadow: 0 0 10px 3px rgba(108,98,98,.2);
}

#back-top a i {
    display: block;
    line-height: 50px;
}
