/* ///////////////// Global Changes ///////////////// */
* {
    font-family: 'Josefin Slab', serif;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
}

img {
    vertical-align: middle;
}

a, button {
    text-decoration: none;
    outline: medium none;
}

a, .button {
    transition: .3s;
}

body {
    overflow: visible;
}

/* ///////////////// Navbar ///////////////// */

.navbar-brand {
    padding: 0 !important;
    font-size: 32px;
}

.border-btn {
    border: 2px solid #fff;
    color: #212529;
    background: #fff;
    border-radius: 30px;
    text-transform: capitalize;
    padding: 10px 30px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    margin: 0;
}

/* ///////////////// Title Card ///////////////// */

#title-avatar-name {
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(./banner.png);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#avatar-outer {
    padding: 5px;
    background-color: #FFFFFF;
    height: 360px !important;
    width: 360px !important;
    margin-left: auto;
    margin-right: auto;
}

#avatar-inner {
    padding: 10px;
    background-color: #003300;
    height: 350px !important;
    width: 350px !important;
}

#avatar {
    width: 330px;
    height: 330px;
}

@media (max-width: 991px) {
    #avatar-outer {
        padding: 5px;
        background-color: #FFFFFF;
        height: 260px !important;
        width: 260px !important;
    }

    #avatar-inner {
        padding: 10px;
        background-color: #003300;
        height: 250px !important;
        width: 250px !important;
    }

    #avatar {
        width: 230px;
        height: 230px;
    }
}

#title-contact {
    position: absolute;
    bottom: 85px;
    left: 0;
    right: 0;
}

@media (max-width: 575px) {
    #title-contact {
        position: absolute;
        bottom: 11px;
        left: 0;
        right: 0;
    }

    #text-info {
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
    }
}

@media (max-width: 447px) {
    #tagline {
        font-size: 20px;
    }
}

.icon {
    padding: 8px 7px 6px 7px;
    margin-right: 1rem;
}

/* ///////////////// Scrollspy Button ///////////////// */

#back-top {
	background: #765137;
	height: 50px;
	width: 50px;
	right: 31px;
	bottom: 18px;
	position: fixed;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 44px;
	border: 2px solid transparent;
	box-shadow: 0 0 10px 3px rgba(108,98,98,.2);
}

#back-top a i {
    display: block;
    line-height: 50px;
}
